<!doctype html>

<html>
    
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<style>
body {
    background: #FFF;
}
.country {
    stroke: black;
    stroke-width: 0.1;
}
.water {
  fill: #234c75;
}
.points {
    fill: #f000;
    stroke-width: 0px;
}
.points_dot {
    fill: #ccc;
    stroke: #ccc;
    stroke-width: 2px;
}
.tooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

#map {
    float: left;
    color: #eee;
}
#info {
    float: left;
    color: #000;
}
</style>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
    <script src="static/weather.js"></script>
    <script src="static/map.js"></script>
    <!-- jq autocomplete --> 
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="static/moment.js"></script>
    <script src="static/moment-timezone-with-data-10-year-range.js"></script>

</head>

<body>
<div id="map">
<canvas width="800" height="400"></canvas>
<div class="ui-widget">
<input type=button value="+" id="scaleup" />
<input type=button value="-" id="scaledown" />
</div>
</div>
<div id="info">
<div class="ui-widget">
 <!-- <label for="cities">Город: </label> -->
  <input id="cities" placeholder="Найти город">
  <button type="button"><img src="static/icon/search_icon.svg" /></button>
</div>

    <div id="weather"></div>
	
<ul class="one_section">	
  <li>
      <table  class="main">
        <tr><td id="city_name" colspan="3">Рыбинск</td></tr>
		<tr><td id="country_name" colspan="3"></td></tr>
        <tr><td id="time" colspan="3"></td></tr>
        <tr><td><span>Сейчас</span><span id="temp"></span></td><td colspan="2"><span id="icon"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></span><span id="condition">Дождь</span></td></tr>
        <tr><td colspan="2" class="padding"><span>ощущается как </span><span id="feel">+18 °С</span></td></tr>
	  </table>
	  <table  class="main_2">
        <tr><td class='icon_table'><img src="static/icon/wind.svg" /></td><td>Ветер</td><td id="wind">1 м/с, ЮВ</td></tr>
        <tr><td class='icon_table'><img src="static/icon/pressure.svg" /></td><td>Давление</td><td id="pressure">753 мм рт. ст.</td></tr>
        <tr><td class='icon_table'><img src="static/icon/humidity.svg" /></td><td>Влажность</td><td id="humidity">80%</td></tr>
        <tr><td class='icon_table'><img src="static/icon/temp_water.svg" /></td><td>Температура воды</td><td id="temp_water">+15 °С</td></tr>
	<!--	<tr><td class='icon_table'><img src="static/icon/uv_index.svg"></td><td>УФ-индекс</td><td id="uv_index">5</td></tr>  -->
      </table>    
  </li>
  <li>
      <table class="second_1">
          <tr><td><img src="static/icon/sunrise.svg"></td><td>Восход</td><td id="rise">6:00</td></tr>
          <tr><td><img src="static/icon/sunset.svg"></td><td>Заход</td><td id="sunset">22:00</td></tr>
          <tr><td><img src="static/icon/day_long.svg"></td><td>Долгота дня</td><td id="day_long">16 ч.</td></tr>
          <tr><td><img src="static/icon/moon.svg"></td><td>Фаза луны</td><td id="moon">Стареющая</td></tr>
		  <tr><td><img src="static/icon/uv_index.svg"></td><td>УФ-индекс</td><td id="uv_index">5</td></tr>		  
      </table>
	  <div>Почасовой прогноз на ближайшие 12 часов</div>
	  <div class="second_2">
	  <table>
          <tr><td id="hour_1_time">16:00</td>
              <td id="hour_2_time">17:00</td>
              <td id="hour_3_time">18:00</td>
              <td id="hour_4_time">19:00</td>
              <td id="hour_5_time">20:00</td>
              <td id="hour_6_time">21:00</td>
              <td id="hour_7_time">22:00</td>
              <td id="hour_8_time">23:00</td>
              <td id="hour_9_time">0:00</td>
              <td id="hour_10_time">1:00</td>
              <td id="hour_11_time">2:00</td>
              <td id="hour_12_time">3:00</td>
          </tr>
          <tr>
              <td><img id="hour_1_icon" /></td>
              <td><img id="hour_2_icon" /></td>
              <td><img id="hour_3_icon" /></td>
              <td><img id="hour_4_icon" /></td>
              <td><img id="hour_5_icon" /></td>
              <td><img id="hour_6_icon" /></td>
              <td><img id="hour_7_icon" /></td>
              <td><img id="hour_8_icon" /></td>
              <td><img id="hour_9_icon" /></td>
              <td><img id="hour_10_icon" /></td>
              <td><img id="hour_11_icon" /></td>
              <td><img id="hour_12_icon" /></td>
          </tr>
		  <tr><td id="hour_1">+20</td>
              <td id="hour_2">+21</td>
              <td id="hour_3">+21</td>
              <td id="hour_4">+21</td>
              <td id="hour_5">+21</td>
              <td id="hour_6">+21</td>
              <td id="hour_7">+21</td>
              <td id="hour_8">+21</td>
              <td id="hour_9">+21</td>
              <td id="hour_10">+21</td>
              <td id="hour_11">+22</td>
              <td id="hour_12">+21</td>
          </tr>
      </table>
	  </div>
  </li>
<!--  
  <li class="headline">
	   <table>
		<tr><th>Прогноз</th><td id="five_toggle" class="forecast_focused">На 5 дней</td><td id="ten_toggle">На 10 дней</td></tr>
	   </table>
  </li>
-->  
</ul>

<ul class="temp_chart" >
	<li>
		<span>График почасового прогноза</span>
		<div id="temp_chart">
			<svg></svg>
		</div>
	</li>
</ul>

<ul class="two_section">
	<li>
	<table class="headline">
		<tr><th>Прогноз</th>
		<!--<td id="five_toggle" class="fiveten_selected">На 5 дней</td><td id="ten_toggle">На 10 дней</td><td></td>-->
     	 </tr> 
	 </table>  
     <table class="forecast">
        <tr>
            <td class="forecast_focused">
				<div>Сегодня</div>
				<div id="day_0">24 мая</div>
				<div id="day_0_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_0_cond">Дождь</div>
				<div id="day_0_temp">+8...+20 °С</div>
			</td>
            <td>
				<div id="day_1_week">Сб</div>
				<div id="day_1">24 мая</div>
				<div id="day_1_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_1_cond">Дождь</div>
				<div id="day_1_temp">+8...+20 °С</div>
			</td>
			<td>
				<div id="day_2_week">Сб</div>
				<div id="day_2">24 мая</div>
				<div id="day_2_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_2_cond">Дождь</div>
				<div id="day_2_temp">+8...+20 °С</div>
			</td>
			<td>
				<div id="day_3_week">Сб</div>
				<div id="day_3">24 мая</div>
				<div id="day_3_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_3_cond">Дождь</div>
				<div id="day_3_temp">+8...+20 °С</div>
			</td>
			<td>
				<div id="day_4_week">Сб</div>
				<div id="day_4">24 мая</div>
				<div id="day_4_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_4_cond">Дождь</div>
				<div id="day_4_temp">+8...+20 °С</div>
			</td>
			<td>
				<div id="day_5_week">Сб</div>
				<div id="day_5">24 мая</div>
				<div id="day_5_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_5_cond">Дождь</div>
				<div id="day_5_temp">+8...+20 °С</div>
			</td>
            <td>
				<div id="day_6_week">Сб</div>
				<div id="day_6">24 мая</div>
				<div id="day_6_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_6_cond">Дождь</div>
				<div id="day_6_temp">+8...+20 °С</div>
			</td>
        </tr>
		<!--
        <tr id="ten">
            <td>
				<div id="day_6_week">Сб</div>
				<div id="day_6">24 мая</div>
				<div id="day_6_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_6_cond">Дождь</div>
				<div id="day_6_temp">+8...+20 °С</div>
			</td>
            <td>
				<div id="day_7_week">Сб</div>
				<div id="day_7">24 мая</div>
				<div id="day_7_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_7_cond">Дождь</div>
				<div id="day_7_temp">+8...+20 °С</div>
			</td>
			<td>
				<div id="day_8_week">Сб</div>
				<div id="day_8">24 мая</div>
				<div id="day_8_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_8_cond">Дождь</div>
				<div id="day_8_temp">+8...+20 °С</div>
			</td>
			<td>
				<div id="day_9_week">Сб</div>
				<div id="day_9">24 мая</div>
				<div id="day_9_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_9_cond">Дождь</div>
				<div id="day_9_temp">+8...+20 °С</div>
			</td>
			<td>
				<div id="day_10_week">Сб</div>
				<div id="day_10">24 мая</div>
				<div id="day_10_img"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></div>
				<div id="day_10_cond">Дождь</div>
				<div id="day_10_temp">+8...+20 °С</div>
			</td>
			<td>
				<div id="day_11_week"></div>
				<div id="day_11"> </div>
				<div id="day_11_img"></div>
				<div id="day_11_cond"></div>
				<div id="day_11_temp"></div>
			</td>
        </tr>
		-->
      </table>
</li>  
</ul>

<ul class="three_section">  
  <li>
	  <span class="detail">Детальный прогноз на </span><span id="part_date">25 Мая</span>
      <table class="forecast_detail">
		<tr>
			<th></th>
			<th>Температура</th>
			<th>Ощущается</th>
            <th>Условия</th>
            <th>Осадки</th>
            <th>Влажность</th>
            <th>Давление</th>
            <th>Ветер</th>
		</tr>
		<tr>
			<td>Утро</td>
			<td id="morning_temp">+15 °С</td>
            <td id="morning_feel"></td>
			<td id="morning_icon"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></td>
            <td id="morning_perc"></td>
            <td id="morning_hum"></td>
            <td id="morning_pres"></td>
            <td id="morning_wind"></td>
		</tr>
		<tr>
			<td>День</td>
			<td id="day_temp">+15 °С</td>
            <td id="day_feel"></td>
			<td id="day_icon"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></td>
            <td id="day_perc"></td>
            <td id="day_hum"></td>
            <td id="day_pres"></td>
            <td id="day_wind"></td>
		</tr>
		<tr>
			<td>Вечер</td>
			<td id="evening_temp">+15 °С</td>
            <td id="evening_feel"></td>
			<td id="evening_icon"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></td>
            <td id="evening_perc"></td>
            <td id="evening_hum"></td>
            <td id="evening_pres"></td>
            <td id="evening_wind"></td>
		</tr>
		<tr>
			<td>Ночь</td>
			<td id="night_temp">+15 °С</td>
            <td id="night_feel"></td>
			<td id="night_icon"><img src="https://yastatic.net/weather/i/icons/blueye/color/svg/bkn_d.svg" /></td>
            <td id="night_perc"></td>
            <td id="night_hum"></td>
            <td id="night_pres"></td>
            <td id="night_wind"></td>
		</tr>
	</table>
	<table class="bottom-top" >
		<tr>
			<td></td>
			<td id="part_rise_t" class="bottom" ><span><img src="static/icon/sunrise.svg"></span><span>Восход</span></td>
			<td id="part_rise" class="bottom_value" >8:00</td>
			<td class="bottom" ><span><img src="static/icon/moon.svg"></span><span>Фаза луны</span></td>
			<td id="part_moon" class="bottom_value" >новолуние</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td id="part_set_t" class="bottom"><span><img src="static/icon/sunset.svg"></span><span>Заход</span></td>
			<td id="part_set" class="bottom_value">22:00</td>
			<td class="bottom"><span><img src="static/icon/uv_index.svg"></span><span>УФ-индекс</span></td>
			<td id="part_uv" class="bottom_value">8</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="bottom"><span><img src="static/icon/day_long.svg"></span><span id="daylong_text">Долгота дня</span></td>
			<td id="part_daylong" class="bottom_value">19:13</td>
			<td class="bottom"></td>
			<td class="bottom_value"></td>
			<td></td>
		</tr>
	</table>
  </li>  
</ul>

</div>
<div id="tooltip">
	<div id="tooltip_cityname"></div>
	<div>Сейчас</div>
	<table>
		<tr>
			<td colspan="2" ><span id="tooltip_icon"><img /></span><span id="tooltip_condition"></span></td>
		</tr>
		<tr>
			<td><span>Температура:</span></td><td><span id="tooltip_temp"></span></td>
		</tr>
		<tr>
			<td><span>Влажность:</span></td><td><span id="tooltip_hum"></span></td>
		</tr>
		<tr>
			<td><span>Ветер:</span></td><td><span id="tooltip_wind"></span></td>
		</tr>
	</table>
</div>
</body>

</html>
