html {
  background: #666;
  padding: 1em;
}
body {
  border: 5px dashed #eee;
  color: #fff;
  font: 3em/1.5 sans-serif;
  padding: 1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 30em;
  margin: 0 auto;
}
body::after {
  content: 'O HAI! Have a look at my source code :)';
  /* This needs to be on the ::after (and not just on `body`)
     for it to work in Firefox 3.6.x and up. */
}