body {
  padding: 20px;
  font-family: Helvetica;
  background: #545859;
 /* background: linear-gradient(360deg, #EECFBA, #C5DDE8);*/
  cursor: default;
}

#map > div {
	padding-bottom: 30px;
    padding-top: 10px;
}

.ui-menu {
	max-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.ui-widget {
	padding-left: 40px;
}

.one_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.two_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  grid-gap: 10px; 
  margin-bottom: 1px;
  margin-top: 10px;
}

.one_section li {
  padding: 20px;
  font-size: 14px;  
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dadada;
  box-shadow: 0 0 8px rgba(132, 129, 129, 0.5);
  list-style-type: none; 
}

.one_section li:last-child {
/*	padding: 10px;    */
	padding-left: 20px;
	font-size: 14px;
}

.headline {
	width: 100%;
	margin-bottom: 20px;
	font-size: 16px;
/*	border-bottom: 1px solid #c3bfbf;   */
}

.headline td {
	text-align: center;
}

.headline td:first-child {
	text-align: -webkit-left;
}

.headline th {
	width: 50px;
	padding-right: 40px;
}

#five_toggle, #ten_toggle {
	width: 130px;
}

.detail {
	font-size: 16px;
    font-weight: bold;
}

.two_section li {
  padding: 20px;
  font-size: 14px;  
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dadada;
  box-shadow: 0 0 8px rgba(132, 129, 129, 0.5);
  list-style-type: none; 
}

.three_section {
	margin-top: 1px;
}

.three_section li {
  padding: 20px;
  font-size: 14px;  
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dadada;
  box-shadow: 0 0 8px rgba(132, 129, 129, 0.5);
  list-style-type: none; 
}

.info {
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
  color: #fffff;
}

.second_1 {
  height: 25%;
  padding-bottom: 20px;
}

.second_1 img {
	width: 20px;
	height: 20px;
}

.second_1 td:nth-child(1), th:nth-child(1) {
	width: 25px;
}

.second_2 {
	overflow-x: scroll;
/*	font-size: 12px;	*/
}

.second_2 td{
	text-align: center;
	padding-right: 6px;
	padding-left: 6px;
}

.second_2 img {
	width: 30px;
}


/* Скролл */
::-webkit-scrollbar {
    width: 3px;
	height: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(77,143,245,0.5); 
 /*   -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(77,143,245,0.3); 
}


.one_section div:nth-child(2)  {
	padding-bottom: 10px;
    padding-top: 20px;
    font-size: 14px;
	font-weight: bold;
}

.main, .main_2 {
	border: none;
}

.padding {	
    padding-bottom: 15px;
	color: gray;
}

.forecast, .main, .main_2, .second_1, .forecast_detail, .bottom-top {
	border-collapse: collapse;
}

.main td:nth-child(1), tr:nth-child(1) {
	width: 60px;
}

.headline td:hover {
  /*  background: linear-gradient(180deg, #ffebcd12, #ffe6c2, #ffebcd12); */
	color: #ff940c;	
	cursor: pointer;
}

.forecast td {
	text-align: -webkit-center;
	border-right: 1px solid #c3bfbf;
	width: 100px;
	padding-right: 5px;
	padding-left: 5px;
	cursor: pointer;
}

.forecast th:last-child, td:last-child {
	border-right: none;
}

.forecast img {
	width: 50px;
}

.forecast td:hover {
	background: linear-gradient(180deg, #c2dcff12, #cadef9, #c2dcff12);
 /*    background: linear-gradient(180deg, #ffebcd12, #ffe6c2, #ffebcd12); /* Цвет фона при наведении */
 /*   color: #fff; /* Цвет текста при наведении */ 
}

.forecast_focused {
	background: linear-gradient(180deg, #ffebcd12, #ffe6c2, #ffebcd12);
}

.icon_table img {
	width: 20px;
}

.forecast_detail img {
	width: 35px;
}

.forecast_detail {
    text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.forecast_detail th {
    padding-bottom: 10px;
	padding-top: 10px;
}

.forecast_detail td:nth-child(1), th:nth-child(1) {
	font-weight: bold;
	text-align: left;
}

.forecast_detai tr:hover {
	background: #ffe6c2; 
}

.icon_table {
	width: 25px;
}

.ui-autocomplete-input {
	border-radius: 10px 0px 0px 10px;
    border: 5px;
    height: 25px;
    padding-left: 20px;
    width: 288px;
}

.ui-widget button {
    background: white;
    border: 0px;
    height: 27px;
    width: 40px;
    border-radius: 0px 10px 10px 0px;
	position: absolute;
}

.ui-widget button:active, button:focus {
    outline: none;
}
.ui-widget button::-moz-focus-inner {
    border: 0;
}

.ui-widget input:active, input:focus {
    outline: none;
}
.ui-widget input::-moz-focus-inner {
    border: 0;
}

.bottom-top {
	border-top: 1px solid #c3bfbf;
	padding-top: 10px;
}

.bottom {
	text-align: left;
	width: 140px;
}

.bottom_value {
	text-align: left;
	width: 130px;
}

.bottom img {
	width: 20px;
	padding-right: 5px;
}

.bottom span {
	display:  table-cell;
    vertical-align:  middle;
}

.fiveten_selected {
  color: #ff940c;  
}

#scaleup, #scaledown {
	border-radius: 10px;
    border: 0px;
    background: white;
    height: 25px;
    width: 25px;
/*	font-weight: bold;  */
}

#ten td {
	padding-top: 15px;
/*	border-top: 1px solid #c3bfbf;  */
}

#city_name {
	font-size: 26px;
}

#country_name {
	font-size: 16px;
}

#time {
	font-size: 14px;
	color: gray;
	padding-bottom: 5px;
}

#temp {
	font-size: 26px;
	padding-right: 10px;
}

#icon {
	padding-right: 10px;
}

#icon img{
	width: 50px;
}

#now, #temp, #icon, #condition {
	display:  table-cell;
/*    height:  50px;   */
    vertical-align:  middle;
}

#part_date {
	font-size: 16px;
	padding-right: 5px;
	font-weight: bold;
}

/*
#wind, #pressure, #humidity, #temp_water {
	text-align: -webkit-right;
}
*/
/* внешние границы таблицы серого цвета толщиной 1px */
table {
  width: 100%;
} 


/* границы ячеек первого ряда таблицы 
th {
	border: 1px solid grey;
}
*/
/* границы ячеек тела таблицы 
td {
	border: 1px solid grey;
}
*/

.tooltip_img {
	width: 25px;
}

#ten {
	display: none;
}
.ui-menu-item {
	height: 25px;
	/* Выпадашка */
}

#tooltip {
	display: none;
    width: 160px;
    position: absolute;
    background-color: #fff;
	font-size: 12px;
	padding: 10px;
	border-radius: 10px;
}

#tooltip_icon {
	height: 20px;
    padding-right: 5px;
}

#tooltip_icon img {
    width: 30px;
}

#tooltip_cityname {
	font-size: 18px;
}

#tooltip_icon, #tooltip_condition {
	display:  table-cell;
    height:  30px;
    vertical-align:  middle;
}

.weekends {
    color: #fa0101;
}

path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
 
.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
svg {
  background: #fefefe;
}

.tick {
    font-size: 12px;
}
.axis path,
.axis line{
fill: none;
stroke: black;
}

.line{
fill: none;
stroke: #e66;
stroke-width: 2px;
}

.tick text{
font-size: 12px;
}

.tick line{
opacity: 0.2;
}
