body {
  padding: 20px;
  font-family: Helvetica;
  background-color: #0000;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
}

li {
  background-color: #d9ddde;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
}

span {
  background-color: #d9ddde;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
}

.info {
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
  color: #fffff;
}



.second {
  height: 25%;
}


/* внешние границы таблицы серого цвета толщиной 1px */
table {
  border: 1px solid grey;
  width: 100%;
} 

/* границы ячеек первого ряда таблицы */
th {border: 1px solid grey;}
/* границы ячеек тела таблицы */
td {border: 1px solid grey;}