body {
  padding: 20px;
  font-family: Helvetica;
  background: #7397a4;
 /* background: linear-gradient(360deg, #EECFBA, #C5DDE8);*/
}

.ui-widget {
	padding-left: 40px;
}

.one_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.two_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  grid-gap: 10px;
}

li {
  padding: 20px;
  font-size: 14px;  
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dadada;
  box-shadow: 0 0 8px rgba(132, 129, 129, 0.5);
  list-style-type: none; 
}

.headline {
	padding: 10px;
	padding-left: 20px;
	font-size: 14px;
}

.headline td {
	padding-right: 15px;
	text-align: -webkit-right;
}

.headline td:first-child {
	text-align: -webkit-left;
}

/*
span {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
  border: 1px solid #dadada;
  box-shadow: 0 0 8px rgba(132, 129, 129, 0.5);
}
*/

.info {
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
  color: #fffff;
}

.second_1 {
  height: 25%;
  padding-bottom: 20px;
}

.second_1 img {
	width: 20px;
	height: 20px;
}

.second_1 td:nth-child(1), th:nth-child(1) {
	width: 25px;
}

.second_2 {
	overflow-x: scroll;
/*	font-size: 12px;	*/
}

.second_2 td{
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}

.second_2 img {
	width: 30px;
}


/* Скролл */
::-webkit-scrollbar {
    width: 3px;
	height: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(77,143,245,0.5); 
 /*   -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(77,143,245,0.3); 
}


.one_section div:nth-child(2)  {
	padding-bottom: 10px;
    padding-top: 20px;
    font-size: 14px;
	font-weight: bold;
}

.main {
	border: none;
}

.padding {	
    padding-bottom: 15px;
	color: gray;
}

.forecast, .main, .second_1, .forecast_detail {
	border-collapse: collapse;
}

.headline td:hover {
  /*  background: linear-gradient(180deg, #ffebcd12, #ffe6c2, #ffebcd12); */
	color: #ff940c;	
}

.forecast td {
	text-align: -webkit-center;
	border-right: 1px solid #c3bfbf;
	width: 100px;
	padding-right: 5px;
	padding-left: 5px;
}

.forecast th:last-child, td:last-child {
	border-right: none;
}

.forecast img {
	width: 50px;
}

.forecast td:hover {
    background: linear-gradient(180deg, #ffebcd12, #ffe6c2, #ffebcd12); /* Цвет фона при наведении */
 /*   color: #fff; /* Цвет текста при наведении */ 
}

.forecast_focused {
	background: linear-gradient(180deg, #ffebcd12, #ffe6c2, #ffebcd12);
}

.icon_table img {
	width: 20px;
}

.forecast_detail img {
	width: 40px;
}

.forecast_detail {
    text-align: center;
}

.forecast_detail th {
    padding-bottom: 10px;
	padding-top: 10px;
}

.forecast_detail td:nth-child(1), th:nth-child(1) {
	font-weight: bold;
	text-align: left;
}

.icon_table {
	width: 25px;
}

#city_name {
	font-size: 26px;
}

#country_name {
	font-size: 16px;
}

#time {
	font-size: 14px;
	color: gray;
	padding-bottom: 5px;
}

#temp {
	font-size: 26px;
	padding-right: 10px;
}

#icon {
	padding-right: 5px;
}

#icon img{
	width: 50px;
}

#temp, #icon, #condition {
	display:  table-cell;
    height:  50px;
    vertical-align:  middle;
}

#part_date {
	font-size: 18px;
}

/*
#wind, #pressure, #humidity, #temp_water {
	text-align: -webkit-right;
}
*/
/* внешние границы таблицы серого цвета толщиной 1px */
table {
  width: 100%;
} 


/* границы ячеек первого ряда таблицы 
th {
	border: 1px solid grey;
}
*/
/* границы ячеек тела таблицы 
td {
	border: 1px solid grey;
}
*/

.tooltip_img {
	width: 25px;
}

#ten {
	display: none;
}
.ui-menu-item {
	height: 10px;
	/* Выпадашка */
}

#tooltip {
    width: 200px;
    position: absolute;
    background-color: #fff;
}
#tooltip_icon {
    width: 20px;
}
